@use "/src/scss/variables.scss" as *;
@use "/src/scss/breakpoints.scss" as *;

.page {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 140px;

  .pageHeader {
    @include container(lg);
  }
  .pageContent {
    @include container(md);

    .video {
      width: 100%;
      > iframe {
        width: 100%;
        aspect-ratio: 9/6;
      }
    }
  }

  h1,h2,h3 {
    font-family: var(--font-kyra-expanded-bold-italic);
    text-align: center;
    text-transform: lowercase;
  }

  h1 {
    font-size: 4.9vw;
  }
  h2 {
    font-size: 3.4vw;
  }
  h3 {
    font-size: 2.4vw;
  }

  p {
    b {
      font-family: var(--font-kyra-bold);
    }
  }

  a {
    display: inline-block;
    font-family: var(--font-kyra-bold);
    color: rgba($black,.8);
    position: relative;
    transition: all .18s ease;
    &:after {
      content: "";
      height: 2px;
      width: 100%;
      background: $black;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: all .18s ease;
    }
    &:hover {
      color: rgba($black,1);
      &:after {
        width: 0;
      }
    }
  }

  ul {
    margin-bottom: 1rem;
    ul {
      padding-top: 1rem;
    }
  }
}