@use "/src/scss/variables.scss" as *;
@use "/src/scss/breakpoints.scss" as *;

.sectionBrands {
  display: block;
  width: 100%;
  overflow: hidden;
  margin-top: auto;
  padding: var(--size-xl) 0;
  background: $black;
  color: $green;
  @include breakpoint(md){
    padding: var(--padding-section);
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  h2 {
    font-family: var(--font-kyra-expanded-bold-italic);
    font-style: italic;
    font-size: var(--size-md);
    line-height: 1.2em;
    text-transform: lowercase;
    text-align: center;
    margin: 0 0 var(--size-lg) 0;
    @include breakpoint(md){
      font-size: var(--size-xl);
      margin: 0 0 calc(var(--size-lg) * 2) 0;
    }
  }
}

.brandScroll {
  display: block;
  width: calc(100% + 4rem);
  margin-bottom: var(--size-lg);
  @include breakpoint(sm){
    margin-bottom: calc(var(--size-lg) * 2);
  }
  .brand {
    height: auto;
    min-height: 80px;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    margin: 0 auto;
    text-align: center;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 60px;
      @include breakpoint(md){
        width: auto;
        max-width: 180px;
        max-height: 130px;
      }
    }
  }
}

.headlines {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--size-default);
  margin-bottom: calc(var(--size-lg) * 2);
  padding: 0 var(--size-sm);
  @include breakpoint(md){
    grid-template-columns: repeat(3, 1fr);
  }

  .headline {
    display: inline-flex;
    flex-direction: column;
    gap: var(--size-default);
    padding: var(--size-default);
    background: $green;
    color: $black;
    border-radius: var(--border-radius);
    justify-content: space-between;
    align-items: center;

    p {
      text-align: center;
      font-size: var(--size-sm);
      @include breakpoint(md){
        font-size: var(--size-default);
      }
      &:before,
      &:after  {
        content: '"';
      }
    }
    .headlineLogoWrapper {
      display: inline-flex;
      width: 100%;
      height: auto;
      justify-content: center;
      height: 24px;
      @include breakpoint(sm){
        height: 32px;
      }
      .headlineLogo {
        width: auto;
        height: 100%;
      }
    }
  }
}